body {
    background-image: url(../foto/mintosko-Ro0PNXcpCus-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0%;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid black;
    padding-top: 1%;
}

.section1 {
    width: 50%;
    padding: 5%;
    padding-top: 1%;
    padding-right: 0%;
}

.container .section1 img {
    width: 45%;
    transition: transform 0.3s ease;
}
.container .section1 img:hover {
    transform: scale(1.3);
}

.container section {
    padding: 1%;
    padding-bottom: 1%;
    font-family: "poppins";
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

.section2 {
    width: 50%;
    padding-right: 5%;
}

.container section0 {
    display: flex;
}

.container .section2 p{
    font-size: xx-large;
    font-family: "poppins";
    margin: 0;
    font-weight: 800;
}
.container .section2 b{
    font-size: xx-large;
    font-family: "poppins";
    margin: 0;
    font-weight: 800;
    color:  red;
}
.container .section2 p1{
    font-size: small;
    font-family: "poppins";
    margin: 0;
    font-weight: 400;
}

.section3 {
    padding-bottom: 5%;
}

.but {
    display: flex;
    justify-content: space-around;
}

.but a {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    color: black;
    border-radius: 50px;
    width: fit-content;
    height: 10%;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.but a:hover {
    transform: scale(1.1);
}

@media (max-width: 410px) {
    .container section {
        padding: 1%;
        padding-bottom: 1%;
        font-family: "poppins";
        color: rgb(0, 0, 0);
        font-weight: 10000;
        font-size: medium;
        display: flex;
        justify-content: center;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    .section1 {
        width: 100%;
        padding: 0;
        padding-top: 1%;
        padding-right: 0%;
    }
    .container section0 {
        display: block;
    }
    .section1 {
        width: 95%;
        padding: 5%;
        padding-top: 1%;
        padding-right: 0%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container .section2{
        width: fit-content;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .container .section1 img {
        width: 45%;
    }
    .container .section2 p{
        font-size: medium;
        font-family: "poppins";
        margin: 10px;
        margin-top: 0;
        font-weight: 800;
        margin-bottom: 0;
    }
    .container .section2 b{
        font-size: small;
        font-family: "poppins";
        margin: 0;
        font-weight: 800;
        color:  red;
        padding-left: 3%;
        padding-top: 0%;
    }
    .container .section2 p1{
        font-size: xx-small;
        font-family: "poppins";
        margin: 0;
        font-weight: 400;
        
    }
    .section2 {
        width: 100%;
        padding-right: 0%;
    }
}